.parkbox{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
}

.parkdetail{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.parkA{
    width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* display: flex; */
      flex-direction: column;

}
.parkAinnerdiv{
    text-align: justify;
    padding: 15px;
}
.parkA button{
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none !important;

}
.btns button{
    display: flex;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none !important;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .checkAvailbtn{
    background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .checkAvailbtn:hover {
    background-color: #ccc;
  }
.availableslots{
    padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */
.parkimg{
    /* width: 50%; */
}
/* .parkimg img{
    width: 95%;
} */
@media only screen and (max-width: 800px){
    .parkA, .parkimg{
        width: auto;
    }
    .parkdetail{
        flex-direction: column;
    }
    .parkimg img{
        width: 80%;
    }
}