<h1>Login</h1>
<form action="/auth/login" method="POST">
    <div class="">
        <div>
            <label for="name">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label>password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </div>
</form>

<a href="/register">register</a>