<h1>Park-Registeration</h1>
<form action="/auth/parkreg"method="POST">
    <div class="">
        <div>
            <label for="name">Name</label>
            <input type="text" id="sellername" name="sellername" required>
        </div>
        <div>
            <label>Park Name</label>
            <input type="text" id="park_name" name="park_name" required>
        </div>
        <div>
            <label for="">Address</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div>
            <label for="">Mobile No.</label>
            <input type="number" id="mobileNo" name="mobileNo" required>
        </div>
        <div>
            <label for="">Number of Parking slot</label>
            <input type="number" id="num" name="num" required>
        </div>
        <div>
            <label for="">Rate</label>
            <input type="text" id="rate" name="rate" required>
        </div>
        <div>
            <label for="">More info: </label>
            <input type="text" id="moreinfo" name="moreinfo" required>
        </div>
        <div>
            <label for="">Image of Parking lot</label>
            <input type="image" id="image" name="image" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <!-- {#} -->
    </div>
    <a href="/login">login</a>
</form>