
.outerdivHome{
    color: #ffffff;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
}
.cardho, .carpic{
    width: 50%;
    display: flex;
    height: 100%;
}
.carpic img{
    width: 100%;
}
.cardho{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.logodiv{
    height: 40%;
    width: 70%;
    padding: 39px 0px;
    text-align: left;

}
.parkingdetails{
    color: green;
    width: 70%;
    text-align: justify;
}
.parkingdetails h1{
    font-weight: bold;
}
.btndiv{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btndiv button{
    cursor: pointer;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 19px;
    line-height: 48px;
    outline: none !important;
    color:green;
}

@media only screen and (max-width: 700px){
    .carpic{
        display: none;
    }
    .cardho{
        width: auto;
    }
    .logodiv{
        height: 30%;
        width: 80%;
        padding: 30px 0px 0px 0px;
       
    }
    .parkingdetails{
        height: 50%;
        width: 80%;
    }

}