.footer{
    color: blue;
    background-color: #0f0f0f;
    height: 10vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewCode{
    color: honeydew;
}
.viewCode:hover{
    color: green;
}