.outerdivSel{
    color: #ffffff;
    background-color:  #11C865;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: row;
}
.smap{
    margin: 12vw;
    
}
.cont{
    height: 100vh;
    background-color: #11C865;
}

@media only screen and (max-width: 769px){
    .outerdivSel{
        flex-direction: column;
    }

}